<div class="row">
  <div class="col s1">
    <a ng-click="previous()" class="btn grey">
      PREVIOUS
    </a>
  </div>
  <div class="col s10 center">
    <h3>{{selected.name}}</h3>
  </div>
  <div class="col s1">
    <a ng-click="next()" class="btn grey">
      NEXT
    </a>
  </div>
</div>
<div class="row">
  <div class="col s8 offset-s2"">
    <img ng-src="photos/{{selected.img}}" alt="" class="responsive-img" ></img>
  </div>
</div>
<div class="row">
  <div class="col s12 center">
<b  ng-repeat="ingre in selected.ing" class="black-text" style="margin:10px;">
  {{datas.ingredients[ingre]}}
</b>
</div>
</div>
